<!-- Header Section -->
<div class="row mt-4">
  <div class="col-lg-6">
    <h2>Employee Management</h2>
  </div>
  <div class="col-lg-6" style="margin-right: 10px">
    <button mat-raised-button color="warn">Add</button>
  </div>
</div>

<!-- Filter Input Section -->
<br>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Filter"
    #input
  />
</mat-form-field>
<br>

<!-- Table Section -->
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      No.
    </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
  </ng-container>

  <!-- Phone Number Column -->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone number">
      Phone Number
    </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
      Email
    </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Hire Date Column -->
  <ng-container matColumnDef="hireDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by hire date">
      Hire Date
    </th>
    <td mat-cell *matCellDef="let element"> {{element.hireDate}} </td>
  </ng-container>

  <!-- Marital Status Column -->
  <ng-container matColumnDef="maritalStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by marital status">
      Marital Status
    </th>
    <td mat-cell *matCellDef="let element"> {{element.maritalStatus}} </td>
  </ng-container>

  <!-- Gender Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gender">
      Gender
    </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <!-- Table Rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Paginator Section -->
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>
